{{model.name}}

Lunchers:
<ul>
  {{#each model.lunchers as |luncher|}}
  <li>{{#link-to "lunch-groups.lunch-group.lunchers.luncher" luncher}}{{luncher.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
