<ul>
	{{#if session.isAuthenticated}}
	  <li><a {{ action 'invalidateSession' }}>Logout</a></li>
		<li>{{#link-to 'lunches'}}Lunches{{/link-to}}</li>
	{{else}}
	  <li>{{#link-to 'login'}}Login{{/link-to}}</li>
	{{/if}}
</ul>

{{outlet}}
